---
title: "Stowarzyszenie"

layout: page

permalink: /

header:
    overlay_image: /assets/images/ppz-header.jpg
    overlay_filter: rgba(0, 0, 0, 0.6)

    actions:
        - label: "Deklaracja członkowska"
          url: /docs/deklaracja-czlonkowska.pdf/
          blank: false
        - label: "Petycja"
          url: /docs/petycja.pdf/
          blank: false
        - label: "List otwarty"
          url: /docs/list-otwarty.pdf/
          blank: true

    caption: "Jezioro Okoniec w Puszczy Zielonce"

excerpt: "**Przyjaciół Puszczy Zielonki**"



gallery:
    - url: /assets/images/header.webp
      image_path: /assets/images/header.webp
      alt: "placeholder image 1"
      title: "Image 1 title caption"
    - url: /assets/images/sydney-2.webp
      image_path: /assets/images/sydney-2.webp
      alt: "placeholder image 2"
      title: "Image 2 title caption"
    - url: /assets/images/sydney-3.webp
      image_path: /assets/images/sydney-3.webp
      alt: "placeholder image 3"
      title: "Image 3 title caption"


round-images:
    - image-path: "/assets/images/header.webp"
      size: "full"
      header: "Header 1"
      caption: "Caption 1"
    - image-path: "/assets/images/sydney-2.webp"
      size: "third"
      header: "Header 2"
      caption: "Caption 2"
    - image-path: "/assets/images/sydney-3.webp"
      size: "third"
      header: "Header 3"
      caption: "Caption 3"
    - image-path: "/assets/images/sydney-4.webp"
      size: "third"
      header: "Header 4"
      caption: "Caption 4"
    - image-path: "/assets/images/sydney-5.webp"
      size: "half"
      header: "Header 5"
      caption: "Caption 5"
    - image-path: "/assets/images/sydney-6.webp"
      size: "half"
      header: "Header 6"
      caption: "Caption 6"

image-text-row:
    - header: "Image-Text-Row"
      excerpt: "This is an image-text-row"
      image-url: "/assets/images/header.webp"
      alt-text: "Alternative text for the image"
      image-width: "400px"
      image-right: false

image-text-row-two:
    - header: "Image-Text-Row"
      excerpt: "This is an image-text-row with the image on the right (on large enough screens) and a little bit longer text plus a button"
      btn-url: "#"
      btn-class: "info"
      btn-label: "A button"
      blank: false
      image-url: "/assets/images/sydney-2.webp"
      alt-text: "Alternative text for the image"
      image-width: "400px"
      image-right: true
---

<section class="site-section alternative-color first-section" id="kim-jestesmy">

    <h1>Kim jesteśmy</h1>

    <p>Jesteśmy grupą mieszkańców otuliny Puszczy Zielonki i pobliskich miejscowości oraz miłośnikami jezior i lasów tego regionu.
        Ostatnio zjednoczył nas protest przeciwko rażącemu zakłócaniu ciszy i spokoju domowego przez samolot latający nad naszymi domami, startujący z lotniska w Bednarach.</p>

</section>






<hr class="section-sep">







<section class="site-section" id="petycja">

    <h1>Petycja</h1>

    <div class="notice--primary">
        <h4>Wyrażam protest wobec rażącego zakłócania ciszy oraz miru domowego, przez
            samolot latający nad moim domem, startujący z lotniska Bednary.</h4>
    </div>

    <div class="notice--primary">
        <h4>Skala uciążliwości</h4>
    </div>

    <div class="notice--primary">
        <h4>Potrzebna Pomoc. Każdy głos jest ważny!</h4>
        <p>Podpisując tę petycję, wspierasz nasze działania i dajesz wyraz swojego sprzeciwu wobec nagminnemu naruszaniu naszego prawa do życia w ciszy i spokoju.</p>
        <p>Twoje poparcie jest kluczowe dla podjęcia działań prawnych oraz wywarcia presji na władze i zarząd lotniska, aby w końcu zakończyć tę uciążliwość. Razem możemy coś zmienić! Dołącz do nas w walce o nasze prawa! Każdy podpis ma znaczenie!</p>
    </div>

    <div class="notice--success">
        <p>Dziękujemy za wsparcie!  </p>
    </div>

</section>


<hr class="section-sep">


<section class="site-section alternative-color" id="galeria">

    <h1>Piękna Puszcza</h1>

    <h3>Gallery</h3>

    {% include gallery caption="Gallery captions, just like the rest of the theme, **support Markdown**"%}


    <h2> Responsive Video Embed</h2>

    {% include video id="xTo8Q9asVfc" provider="youtube" %}

</section>

<hr class="section-sep">

<section class="site-section" id="kontakt">

    <h1>Kontakt</h1>

    <h2>Stowarzyszenie Przyjaciół Puszczy Zielonki</h2>

    <p>ul. Zielona 1</p>
    <p>00-000 Zielonka</p>
    <p>tel. 123 456 789</p>
    <p>email: przyjacielezielonki@gmail.com</p>
</section>
