/* ==========================================================================
   Aqua skin
   ========================================================================== */

/* Colors */
$gray                       : #1c4916 !default;
$dark-gray                  : #193a13;
$darker-gray                : #153210;
$light-gray                 : mix(#25551d, $gray, 50%) !default;
$lighter-gray               : mix(#bed8b8, $gray, 90%) !default;

$body-color                 : #fff !default;
$background-color           : #e4e4d8 !default;
$code-background-color      : $lighter-gray !default;
$code-background-color-dark : $light-gray !default;
$text-color                 : $dark-gray !default;
$border-color               : $lighter-gray !default;

$primary-color              : $gray !default;
$success-color              : #0b7136 !default;
$warning-color              : #e67e22 !default;
$danger-color               : #c0392b !default;
$info-color                 : #03a9f4 !default;

/* links */
$link-color                 : #393e46 !default;
$link-color-hover           : $link-color;
$link-color-visited         : $link-color;
$masthead-link-color        : $link-color !default;
$masthead-link-color-hover  : $link-color !default;

/* notices */
$notice-background-mix: 90% !default;
$code-notice-background-mix: 95% !default;
