<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PpZh77Bplek" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="poster"></iframe>

  <p class="poster">
    Wkrótce pojawią się tu zdjęcia z rajdu :)
  </p>
  </body>

</html>
